<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>회원가입페이지</h1>
<hr/>
<form action="/join" method="POST">
    <table>

        <tr>
            <th>메뉴명</th>
            <td>
                <input type ="text" name = "manu" placeholder="메뉴명"/>
            </td>
        </tr>
        <tr>
            <th>category</th>
            <td>
                <input type ="text" name = "category" placeholder="category"/>
            </td>
        </tr>
        <tr>
            <th>item</th>
            <td>
                <input type ="text" name = "item" placeholder="item"/>
            </td>
        </tr>

    </table>
    <button>등록</button>
</form>
</body>
</html>